<app-navbar></app-navbar>
<mat-stepper class="main" orientation="vertical">
    <mat-step>
        <ng-template matStepLabel><span>Sobre Mí</span></ng-template>
        <app-about></app-about>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel><span>Experiencia</span></ng-template>
        <app-experience></app-experience>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel><span>Educacion</span></ng-template>
        <app-education></app-education>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel><span>Skills/Habilidades</span></ng-template>
        <app-skills></app-skills>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel><span>Proyectos</span></ng-template>
        <app-proyect></app-proyect>
    </mat-step>
</mat-stepper>
